{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>FCT - Tareas</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
  <!-- Bootstrap JS -->
  <script defer src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Chema JS -->
  <script defer src="{% static 'js/app.js' %}"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="login-form bg-light mt-4 p-4">

          <form action="{{action}}" method="POST" class="row g-3">{% csrf_token %}
            <h5 class="d-flex justify-content-center">Parte de tareas - user_id {{ user.id }}</h5>
            <div class="col-12">
              <label for="fecha_parte">Día</label>
              <input id="fecha_parte" class="form-control" type="date" name="fecha"
                value='{% if tarea != None %}{{ tarea.fecha|date:"Y-m-d"  }}{% endif %}' />
            </div>
            <div class="col-12">
              <label for="horas" class="form-label">Horas</label>
              <input type="range" class="form-range"
                value='{% if tarea != None %}{{ tarea.horas|floatformat:"u" }}{% endif %}' min="0" max="8" id="horas"
                name="horas" step="0.5" />
              <input type="hidden" id="tarea_id" value='{% if tarea != None %}{{ tarea.id  }}{% endif %}' name="id" />
              <h6 id="horas_value">{% if tarea != None %}{{ tarea.horas|floatformat:"u" }}{% endif %}</h6>
            </div>
            <div class="col-12">
              <div class="input-group my-2">
                <span class="input-group-text">Tareas</span>
                <textarea class="form-control" aria-label="Tareas" maxlength="250" rows="5"
                  name="descripcion">{% if tarea != None %}{{ tarea.descripcion }}{% endif %}</textarea>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>


          <form action="">

          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>